
h1{
    color: dimgrey;
}
img{
    width: 400px;
}
#thirdDiv {
    width: 500px;
    height: 600px;
    background-color: peachpuff;
}
#thirdDiv {
    padding: 50px;
    border: 10px solid currentcolor;
}
#spanid {
    font-size: 18px;
    margin: 50px;
}
